<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.danielprinz.udemy" level="DEBUG"/>
  <logger name="org.flywaydb.core" level="INFO"/>
  <logger name="io.micronaut.flyway" level="INFO"/>
  <logger name="io.micronaut.data.query" level="DEBUG" />
  <logger name="org.hibernate.SQL" level="DEBUG" />

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
